
*{
   padding:0px ;
   margin: 0px;
   box-sizing: border-box;
}

 body{
  font-family: 'Poppins', sans-serif;
  /* background-color: red; */
  background-color: var(--white);
}

:root{

 /* set to 16px */
  font-size: 100%;  
  
  
  
  /* width */
  /* 1440 - 768 */
  /* 768 - 375 */
  
  
    /* height */
    /* 1029 - 1206 */
    /* 1206 - 1405 */
    
    
    /* ## Colors */
/* ### Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

/* ### Neutral */
--grey-500: hsl(234, 12%, 34%);
--grey-400: hsl(212, 6%, 44%);
--white: hsl(0, 0%, 100%);

/* pre set typography */
 /* pre set 1  poppins semi-bold*/
  --h1-size: 2.25rem;      /* 36px */
  --h1-weight: 600;
  --h1-line-height: 1.4;
  --h1-letter-spacing: .25px;
  
  /* pre set 2  poppins extra light*/
  --h2-size: 2.25rem;      /* 36px */
  --h2-weight: 200;
  --h2-line-height: 1.4;
  --h2-letter-spacing: .25px;
   /* pre set 3  poppins semi-bold*/
  --h3-size: 1.25rem;      /* 20px */
  --h3-weight: 600;
  --h3-line-height: 1.35;
  --h3-letter-spacing: 0px;

   /* pre set 4  poppins regular */
  --h4-size: .9375rem;      /* 15px */
  --h4-weight: 400;
  --h4-line-height: 1.4;
  --h4-letter-spacing: 0px;

   /* pre set 5 poppins regular */
  --h5-size: .8125rem;      /* 13px */
  --h5-weight: 400;
  --h5-line-height: 1.6;
  --h5-letter-spacing: 0px;

  /* Mobile section */
  --h1-mobile-size: 1.5rem;      /* 24px */
  --h1-mobile-weight: 600;
  --h1-mobile-line-height: 1.4;
  --h1-mobile-letter-spacing: .25px;

  --h2-mobile-size: 1.5rem;      /* 24px */
  --h2-mobile-weight: 200;
  --h2-mobile-line-height: 1.4;
  --h2-mobile-letter-spacing: .25px;
  
  --h4-mobile-size: .9375rem;      /* 15px */
  --h4-mobile-weight: 400;
  --h4-mobile-line-height: 1.4;
  --h4-mobile-letter-spacing: 0px;

  /* below 340px width */
  /* --below-320-size: .9375rem;      15px */
  --below-320-size: 1rem;      /* 16px */
  --below-320-weight-600: 600;
  --below-320-weight-200: 200;
  /* --below-320-height: 1.4; */
  --below-320-height: 1;
  --below-320-letter-spacing: 0px;

  /* attribution */
  --attribution-size:.625rem;

  /* -------------------------------- */

  /* Spacing */
  --spacing-100: 0.5rem;  /* 8px */
  --spacing-200: 1rem;    /* 16px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-400: 2rem;    /* 32px */
  --spacing-500: 2.5rem;    /* 40px */  
}

.outer-wrapper{
  display: grid;
  grid-template-columns: minmax(163px, 1fr) minmax(0, 1114px) minmax(163px, 1fr);
  grid-template-rows: minmax(102px, 1fr) minmax(0, 743px) minmax(102px, 1fr);
  justify-content: center;
  align-content: start;
  /* background-color: green; */
}

.row-title{
  grid-column: 2;
  grid-row: 2;
  height: 137px;
  display: grid;
  grid-template-rows: 1fr 1fr; 
  gap: 16px;
  /* background-color:powderblue; */
  align-self: start;
}

.row-title-top{
 display: grid;
 justify-content: center; /* Horizontally centers the text */
 align-content: start;    /* Vertically aligns text to the top */
} 

.row-title-bottom{
 display: grid;
 justify-content: center; /* Horizontally centers the text */
 align-content: start;    /* Vertically aligns text to the top */
} 

.row-boxes{
  grid-column: 2;
  align-self: end;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(557, minmax(0,1fr));
  grid-template-rows: repeat(266,minmax(0,1fr));
  max-width: 1114px;
  height: 532px;
  /* background-color: white; */
}

/* reusable */
.box{
  /* background-color: white; */
  display: grid;
  grid-auto-flow: row;
  padding: 32px;
  row-gap:32px ;
  border-radius: 8px;
  box-shadow: 4px 4px 10px 2px #979797;
}

/* team box */
.one{
  /* col  175
  row 125 */
  grid-column: 192/367;
  grid-row: 1/126;
  border-top:4px solid var(--red);
}

/* supervisor box */
.two{
  grid-column: 1/176;
  grid-row: 63/188;
  border-top:4px solid var(--cyan);
}

/* karma box */
.three{
  grid-column: 192/367;
  grid-row: 141/266;
  border-top:4px solid var(--orange);
}

/* calculator box */
.four{
  grid-column: 382/557;
  grid-row: 63/188;
  border-top:4px solid var(--blue);
}

h1{
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h3{
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  text-align: left;
  color: var(--grey-500);
}

h4{
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h5{
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  text-align: left;
  color: var(--grey-400);
}

.icon-section{
  display: grid;
  justify-content: end;
}

.icon{
  height: 64px;
  width: 64px;
}

.row-top{
  display: grid;
  grid-template-rows: auto auto;
  place-items: start center;
  background-color: aqua;
  width: 1114px;
  row-gap: 16px;
}

.top-section{
    background-color: aquamarine;
    width: 50px;
}

.bottom-section{
   background-color:burlywood ;
   width: 50px;
}


/* attribution */
.attribution{
  grid-column: 2;
  grid-row:3;
  justify-self:center ;
  align-self: end;
  font-size: var(--attribution-size);
}

/* break point 1060 */
/*  tablet 768 x 1206*/

@media screen and (max-width:1066px){
  .outer-wrapper{
    grid-template-columns: minmax(54px, 1fr) minmax(0, 660px) minmax(54px, 1fr);
   grid-template-rows: minmax(80px, 1fr) minmax(0, 1046px) minmax(80px, 1fr);
/* height
1206
less 74
158
814 = 160*/
  }

  .row-title{
    height: 158px;
  }

  .row-boxes{
    grid-template-columns: repeat(330, minmax(0,1fr));
    grid-template-rows: repeat(407,minmax(0,1fr));
    max-width: 660px;
    height: 814px;
  }


  /* 314 x 250 */
  /* half 157 x 125 */

  /* team */
  .one{
     grid-column:86/243;
     grid-row:1/125;
  }

  /* sup */
  .two{
    grid-column:1/157 ;
    grid-row: 141/266;

  }

  /* karma */
  .three{
    grid-column:173/330 ;
    grid-row:141/266 ;
  }
  
  /*calc  */
  .four{
    grid-column:86/243;
    grid-row: 282/407;
  }

}


@media screen and (max-width:554px){

  .outer-wrapper{
    /* grid-template-rows: minmax(80px, 1fr) minmax(0, 1046px) minmax(80px, 1fr); */
    grid-template-rows: minmax(60px, 1fr) minmax(0, 1046px) minmax(60px, 1fr);
  }

  /* .row-title{
    height: 147px;
  } */

  h1{
  font-size: var(--h1-mobile-size);
  font-weight: var(--h1-mobile-weight);
  line-height: var(--h1-mobile-line-height);
  letter-spacing: var(--h1-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

 h2{
  font-size: var(--h2-mobile-size);
  font-weight: var(--h2-mobile-weight);
  line-height: var(--h2-line-mobile-height);
  letter-spacing: var(--h2-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h4{
  font-size: var(--h4-mobile-size);
  font-weight: var(--h4-mobile-weight);
  line-height: var(--h4-mobile-line-height);
  letter-spacing: var(--h4-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}


}


/* @media screen and (max-width:375px){ */
@media screen and (max-width:540px){
  .outer-wrapper{
    grid-template-columns: minmax(30px, 1fr) minmax(0, 314px) minmax(30px, 1fr);
    grid-template-rows: minmax(47px, 1fr) minmax(0, 1311px) minmax(47px, 1fr);
/* 375 x 1405
/* height
1405
less 60
158
1096 = 94*/
/* 94 / 2 = 47 */

/* width
375
less 314
=61 */
  }


  .row-title{
    height: 147px;
  }

  .row-boxes{
    grid-template-columns: repeat(157, minmax(0,1fr));
    grid-template-rows: repeat(548,minmax(0,1fr));
    max-width: 375px;
    height: 1096px;
  }

/* boxes 314 x 250 */
/* team box */
  .one{
  /* col  175
  row 125 */
  grid-column: 1/157;
  grid-row: 141/266;
}

/* supervisor box */
  .two{
  grid-column: 1/157;
  grid-row: 1/125;
}

/* karma box */
.three{
  grid-column: 1/157;
  grid-row: 282/407;
}

/* calculator box */
.four{
  grid-column: 1/157;
  grid-row: 423/548;
}

  h1{
  font-size: var(--h1-mobile-size);
  font-weight: var(--h1-mobile-weight);
  line-height: var(--h1-mobile-line-height);
  letter-spacing: var(--h1-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h2{
  font-size: var(--h2-mobile-size);
  font-weight: var(--h2-mobile-weight);
  line-height: var(--h2-line-mobile-height);
  letter-spacing: var(--h2-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h3{
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  text-align: left;
  color: var(--grey-500);
}

h4{
  font-size: var(--h4-mobile-size);
  font-weight: var(--h4-mobile-weight);
  line-height: var(--h4-mobile-line-height);
  letter-spacing: var(--h4-mobile-letter-spacing);
  text-align: center;
  color: var(--grey-500);
}

h5{
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  text-align: left;
  color: var(--grey-400);
}


}

@media screen and (max-width:352px){
  
  .row-title{
    grid-template-rows: .30fr .70fr;
    height: 164px;
  }

  h1, h2{
   font-size: var(--below-320-size);
   font-weight: var(--below-320-weight-600);
   line-height: var(--below-320-line-height);
   letter-spacing: var(--below-320-letter-spacing);
  }

  h2{
   font-weight: var(--below-320-weight-200);
  }

  .attribution{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width:100%;
    /* justify-self: center; */
  }

  article{
    justify-self: center;
  }

}

